<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Ewebsite" connectionString="metadata=res://*/Data.EWebsite.csdl|res://*/Data.EWebsite.ssdl|res://*/Data.EWebsite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=E-Website;persist security info=True;user id=sa;password=123456;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="pmtu-laptop.E-Website.dbo" connectionString="XpoProvider=MSSqlServer;Data Source=.;Initial Catalog=E-Website;Persist Security Info=True;User ID=sa;Password=123456" />
    <add name="WinForm.Properties.Settings.E_WebsiteConnectionString"
      connectionString="Data Source=.;Initial Catalog=E-Website;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>