/CD/PTUD CSDL 2/Demos/ArrayExample/nbproject/private/
/CD/PTUD CSDL 2/Demos/ArrayExample/build/
/CD/PTUD CSDL 2/Demos/PTUDCSDL2/nbproject/private/
/CD/PTUD CSDL 2/Demos/PTUDCSDL2/build/
/CD/PTUD CSDL 2/Demos/PTUDCSDL2_Web/nbproject/private/
/CD/PTUD CSDL 2/Demos/PTUDCSDL2_Web/build/
/CD/PTUD CSDL 2/Demos/PTUDCSDL2/dist/
/CD/PTUD CSDL 2/Demos/PTUDCSDL2_Web/dist/
/CD/PTUD CSDL 2/Demos/QuanLyHangHoa/nbproject/private/
/Projects/SourceCode
/Projects/Scripts
/CD/Administrator Database-20171022T102928Z-001
/CD/Demo_TranhChapDongThoi
/CD/Administrator Database-20171022T102928Z-001.zip
/University/Classes
/University/Classes/15HCB/New folder/*
/University/Classes/15HCB/New folder
