--1. Tạo cơ sở dữ liệu

create database SieuThiDB
-- Nhớ refesh sau khi thực thi
go
--2. Chọn cơ sở dữ liệu để thao tác
use SieuThiDB
go 
--3. Tạo bảng và khóa chính
create table SanPham
(
	MaSanPham char(4),
	Ten nvarchar(40),
	GiaTien float,
	DonViTinh nvarchar(10),
	SoLuongTon int,
	MaLoai char(1),
	primary key (MaSanPham)	
)

create table LoaiSanPham
(
	MaLoai char(1),
	TenLoai nvarchar(30),
	primary key (MaLoai)
)

create table KhachHang
(
	MaKH char(4),
	HoTen nvarchar(40),
	DiaChi nvarchar(20),
	DienThoai char(15),
	NamSinh int,
	GioiTinh nchar(3),
	primary key (MaKH)
)

create table HoaDon
(
	MaHD char(4),
	NgayLap datetime,
	MaKH char(4),
	primary key (MaHD)
)

create table CTHD
(
	MaHD char(4),
	MaSP char(4),
	SoLuong int,
	DonGia int,
	primary key (MaHD, MaSP)
)

alter table SanPham add 
constraint FK_SanPham_LoaiSanPham
foreign key (MaLoai)
references LoaiSanPham (MaLoai)

alter table CTHD add 
constraint FK_CTHD_HoaDon 
foreign key (MaHD)
references HoaDon (MaHD),
constraint FK_CTHD_SanPham
foreign key (MaSP) references SanPham (MaSanPham)

alter table HoaDon add
constraint FK_HoaDon_KhachHang
foreign key (MaKH)
references KhachHang (MaKH)

-- Nhập dữ liệu
insert into LoaiSanPham (MaLoai, TenLoai)  values   ('A', N'Đồ Dùng')
insert into LoaiSanPham (MaLoai, TenLoai) values  ('A', N'Đồ Dùng')
insert into LoaiSanPham (MaLoai, TenLoai) values  ('B', N'Nồi cơm điện')

insert into SANPHAM (MaSanPham, Ten, GiaTien, SoLuongTon, DonViTinh, MaLoai) values
('SP01', N'Bột giặt Omo',30,70,N'túi','A')
insert into SANPHAM (MaSanPham, Ten, GiaTien, SoLuongTon, DonViTinh, MaLoai) values
('SP02', N'Bột giặt Tide',25,200,N'túi','A')
insert into SANPHAM (MaSanPham, Ten, GiaTien, SoLuongTon, DonViTinh, MaLoai) values
('SP03', N'Đèn bàn Rạng Đông',100,90,N'cái','C')


insert into KhachHang values
('KH01', N'Nguyễn Thanh Tùng', N'Hồ Chí Minh', '9-9091-2233', 1984, N'Nam')
insert into KhachHang values
('KH02', N'Lê Nhật Nam', N'Hồ Chí Minh', '9-1234-2134', 1972, N'Nữ')
insert into KhachHang values
('KH03', N'Nguyễn Thị Thanh', N'Cà Mau', '9-2222-3333', 1981, N'Nữ')

set dateformat dmy 
insert into HoaDon values
('HD01', N'20/3/2011', 'KH01')
insert into HoaDon values
('HD02', N'15/2/2011', 'KH02')
insert into HoaDon values
('HD03', N'18/1/2011', 'KH05')

set dateformat mdy 

insert into CTHD values
('HD01', 'SP01', 2, 30)
insert into CTHD values
('HD01', 'SP02', 2, 25)
insert into CTHD values
('HD02', 'SP01', 3, 30)

