create database QuanLySanPham
go
USE QuanLySanPham
GO
CREATE TABLE [dbo].[QuocGia](
	[MaQG] [nchar](15) NOT NULL,
	[Ten] [nvarchar](50) NULL,
 CONSTRAINT [PK_QuocGia] PRIMARY KEY CLUSTERED 
(
	[MaQG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[QuocGia] ([MaQG], [Ten]) VALUES (N'QG001          ', N'Nhật bản')
INSERT [dbo].[QuocGia] ([MaQG], [Ten]) VALUES (N'QG002          ', N'Trung Quốc')
INSERT [dbo].[QuocGia] ([MaQG], [Ten]) VALUES (N'QG003          ', N'Thái Lan')
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 10/19/2011 11:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLSP] [nchar](15) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[MaLSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoaiSanPham] ([MaLSP], [TenLoai]) VALUES (N'LSP001         ', N'Điện tử')
INSERT [dbo].[LoaiSanPham] ([MaLSP], [TenLoai]) VALUES (N'LSP002         ', N'Nhu yếu phẩm')
INSERT [dbo].[LoaiSanPham] ([MaLSP], [TenLoai]) VALUES (N'LSP003         ', N'Bánh ngọt')
/****** Object:  Table [dbo].[HangSanXuat]    Script Date: 10/19/2011 11:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSanXuat](
	[MaHSX] [nchar](15) NOT NULL,
	[TenHSX] [nvarchar](50) NULL,
	[MaQG] [nchar](15) NULL,
 CONSTRAINT [PK_HangSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaHSX] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HangSanXuat] ([MaHSX], [TenHSX], [MaQG]) VALUES (N'HSX001         ', N'Koka', N'QG001          ')
INSERT [dbo].[HangSanXuat] ([MaHSX], [TenHSX], [MaQG]) VALUES (N'HSX002         ', N'Bình minh', N'QG008          ')
INSERT [dbo].[HangSanXuat] ([MaHSX], [TenHSX], [MaQG]) VALUES (N'HSX003         ', N'Điện quang', N'QG008          ')
/****** Object:  Table [dbo].[SanPham]    Script Date: 10/19/2011 11:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nchar](15) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[MoTa] [nvarchar](50) NULL,
	[Seri] [char](20) NULL,
	[MaHSX] [nchar](15) NULL,
	[MaLSP] [nchar](15) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [Seri], [MaHSX], [MaLSP]) VALUES (N'SP001          ', N'Đầu DVD', N'5 số', N'012376723           ', N'HSX001         ', N'LSP001         ')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [Seri], [MaHSX], [MaLSP]) VALUES (N'SP002          ', N'Áo thun thời trang', NULL, N'32468748364         ', N'HSX004         ', N'LSP005         ')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MoTa], [Seri], [MaHSX], [MaLSP]) VALUES (N'SP003          ', N'Bánh mì kinh đô', NULL, N'93247934792         ', N'HSX002         ', N'LSP006         ')
/****** Object:  ForeignKey [FK_HangSanXuat_QuocGia]    Script Date: 10/19/2011 11:38:29 ******/
ALTER TABLE [dbo].[HangSanXuat]  WITH CHECK ADD  CONSTRAINT [FK_HangSanXuat_QuocGia] FOREIGN KEY([MaQG])
REFERENCES [dbo].[QuocGia] ([MaQG])
GO
ALTER TABLE [dbo].[HangSanXuat] CHECK CONSTRAINT [FK_HangSanXuat_QuocGia]
GO
/****** Object:  ForeignKey [FK_SanPham_HangSanXuat]    Script Date: 10/19/2011 11:38:30 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_HangSanXuat] FOREIGN KEY([MaHSX])
REFERENCES [dbo].[HangSanXuat] ([MaHSX])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_HangSanXuat]
GO
/****** Object:  ForeignKey [FK_SanPham_LoaiSanPham]    Script Date: 10/19/2011 11:38:30 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham] FOREIGN KEY([MaLSP])
REFERENCES [dbo].[LoaiSanPham] ([MaLSP])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham]
GO
