USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 10/19/2011 21:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[malop] [int] IDENTITY(1,1) NOT NULL,
	[tenlop] [nvarchar](100) NOT NULL,
	[siso] [int] NOT NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Lop] ON
INSERT [dbo].[Lop] ([malop], [tenlop], [siso]) VALUES (1, N'10A1', 40)
INSERT [dbo].[Lop] ([malop], [tenlop], [siso]) VALUES (2, N'10A2', 45)
INSERT [dbo].[Lop] ([malop], [tenlop], [siso]) VALUES (4, N'10A3', 40)
SET IDENTITY_INSERT [dbo].[Lop] OFF
/****** Object:  Table [dbo].[SinhVien]    Script Date: 10/19/2011 21:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[mssv] [int] IDENTITY(1,1) NOT NULL,
	[hoten] [nvarchar](100) NOT NULL,
	[diachi] [nvarchar](100) NULL,
	[gioitinh] [nvarchar](50) NULL,
	[malop] [int] NULL,
	[NgaySinh] [datetime] NULL,
 CONSTRAINT [PK_SinhVien_1] PRIMARY KEY CLUSTERED 
(
	[mssv] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SinhVien] ON
INSERT [dbo].[SinhVien] ([mssv], [hoten], [diachi], [gioitinh], [malop], [NgaySinh]) VALUES (50, N'Nguyễn Văn Sinh', N'Bình dương', N'1', 1, CAST(0x00007A9F00000000 AS DateTime))
INSERT [dbo].[SinhVien] ([mssv], [hoten], [diachi], [gioitinh], [malop], [NgaySinh]) VALUES (52, N'Lâm Thanh Thủy', N'bến tre', N'0', 2, CAST(0x00006B1500000000 AS DateTime))
INSERT [dbo].[SinhVien] ([mssv], [hoten], [diachi], [gioitinh], [malop], [NgaySinh]) VALUES (53, N'Nguyễn Hoàng Khải', N'bến tre', N'1', 2, CAST(0x000073E900000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[SinhVien] OFF
/****** Object:  ForeignKey [FK_SinhVien_Lop]    Script Date: 10/19/2011 21:36:10 ******/
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([malop])
REFERENCES [dbo].[Lop] ([malop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
