create proc sp_ThemSinhVien @hoten nvarchar(100),
							@diachi nvarchar(200),
							@gioitinh nvarchar(200),
							@malop int,
							@NgaySinh datetime

as
begin
		insert into SinhVien values(@hoten,@diachi,@gioitinh,@malop,@NgaySinh)
end

sp_ThemSinhVien N'Nguyễn Văn A',N'Đà lạt','Nam',1,'12/12/1996'

create proc sp_LayThongTinLop
as 
begin
	select * from Lop
end
go

create proc sp_LayThongTinSinhVien
as
begin
	select * from SinhVien
end

go
alter proc sp_CapNhatSinhVien 
							@mssv int,
							@hoten nvarchar(100),
							@diachi nvarchar(200),
							@gioitinh nvarchar(200),
							@malop int
							

as
begin
		update SinhVien 
		set hoten=@hoten,
			diachi=@diachi,
			gioitinh=@gioitinh,
			malop=@malop
		where mssv=@mssv
			
			
end

create proc sp_XoaSinhVien @mssv int
as 
begin
	delete from SinhVien where mssv=@mssv
end


