<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="demoConnection" connectionString="metadata=res://*/DAL.ProductDatabase.csdl|res://*/DAL.ProductDatabase.ssdl|res://*/DAL.ProductDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=demo;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>