<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="demoGridview.Properties.Settings.NorthWindConnectionString"
            connectionString="Data Source=.;Initial Catalog=NorthWind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>